@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root, .drawer {
  height: 100%;
}

body {
  font-family: 'Rubik', sans-serif;
}

.page-title {
  font-family: 'Dancing Script', cursive;
}

.slide-top {
	-webkit-animation: slide-top 0.95s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-top 0.95s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  /* animation: fadeIn 0.8s; */
}



/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  0% { opacity: 0; }
  100% { opacity: 1; }
}